
nav.main {
    /* background-color: #aaa; */
    padding: 0 30px 30px 0;
}

ul {
    list-style-type: none;
}

nav.main a {
    display: block;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    transition: .3s;    
}

nav.main a:hover {
    transform: translateX(20px);
    text-decoration: underline;
    /* color: royalblue */
}

nav.main a.active {
    border-left: 10px solid black;
    transform: translateX(0px);
    color: royalblue;
    text-decoration: underline;
}

nav.main li:nth-of-type(1) a.active {
    border-left-color: violet;
}
nav.main li:nth-of-type(2) a.active {
    border-left-color: darkblue;
}
nav.main li:nth-of-type(3) a.active {
    border-left-color: lightgreen;
}
nav.main li:nth-of-type(4) a.active {
    border-left: 10px solid red;
}
nav.main li:nth-of-type(5) a.active {
    border-left: 10px solid red;
}